<header>
    <div class="container-fluid">
        <div class="header">
            <a href="index.html" class="pcLogo">
                <img src="../assets/images/header_footer/pc_logo.png" alt="">
            </a>
            <div class="mobileLogo">
                <a href="index.html" class="">
                    <img src="../assets/images/header_footer/mobile_logo.png" alt="">
                </a>
            </div>
            <div class="mobileIcon">
                <a href="#" class="menuBTN" data-bs-toggle="modal" data-bs-target="#searchModal">
                    <img src="../assets/images/header_footer/search.svg" alt="">
                </a>
                <a href="#" class="menuBTN forJs">
                    <img src="../assets/images/header_footer/align-justify.png" alt="">
                </a>
            </div>
            <div class="navBAR">
                <div class="mobileList">
                    <a href="index.html" class="mobileLogo">
                        <img src="../assets/images/header_footer/mobile_logo.png" alt="">
                    </a>
                    <a href="#" class="closeBTN">
                        <img src="../assets/images/header_footer/x.png" alt="">
                    </a>
                </div>
                <ul class="pcNav">
                    <li><a href="#" class="navIcon" data-bs-toggle="modal" data-bs-target="#searchModal"><img
                                src="../assets/images/header_footer/search.png" alt=""></a>
                    </li>
                    <li><a href="shopcart.html" class="navIcon"><img
                                src="../assets/images/header_footer/shopping-cart.png" alt=""></a></li>
                    <li><a href="#" class="logInBtn" type="button" data-toggle="modal"
                            data-target="#loginModal">註冊/登入</a></li>
                </ul>
                <div class="mobileNav">
                    <ul class="mobileNav-section">
                        <li><a href="productCategory.html" class="mt-4">商品總覽</a></li>
                        <li class="accordion " id="accordionExample">
                            <div class="accordion-item">
                                <h3 class="accordion-header" id="heading1">
                                    <a title="如何選擇適合我的商品" class="accordion-button" data-bs-toggle="collapse"
                                        href="#collapse1" role="button" aria-controls="collapse1">
                                        嚴選品牌
                                    </a>
                                </h3>
                                <div id="collapse1" class="accordion-collapse collapse " aria-labelledby="heading1"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body Body2">
                                        <a class=" text-start mb-2" href="negaflower.html">negaflower</a>
                                        <a class=" text-start mb-2" href="tao.html">陶之家</a>
                                        <a class=" text-start mb-2" href="#">SOS香氛</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#" class="mb-4">最新消息</a></li>
                        <li><a href="story.html" class="mb-4">關於拾柒</a></li>
                        <li><a href="question.html" class="mb-4">Q&A</a></li>
                    </ul>
                </div>
                <div class="mobile-list-btn" type="button" data-toggle="modal" data-target="#loginModal">
                    <a href="#">註冊/登入</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- 彈出視窗 -->
<div class="modal fade ortherModal" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- 關閉按鈕 -->
            <div class="modal-header border-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><img src="../assets/images/header_footer/x.png" alt=""></span>
                </button>
            </div>
            <!-- 彈出視窗內容 -->
            <div class="modal-body">
                <!-- Logo -->
                <div class="modal-title">
                    <img class="modal-logo" src="../assets/images/header_footer/footer_logo.png" alt="拾柒">
                </div>
                <form>
                    <!-- 帳號欄位 -->
                    <div class="form-group my-4 ">
                        <label for="username" class="my-2">登入會員</label>
                        <input type="text" class="form-control" id="username" placeholder="登入拾柒帳號">
                    </div>
                    <!-- 密碼欄位 -->
                    <div class="form-group  my-4 ">
                        <label for="password" class="my-2">輸入密碼</label>
                        <input type="password" class="form-control" id="password" placeholder="輸入密碼">
                    </div>
                    <!-- 登入按鈕 -->
                    <button type="submit" class=" login-btn btn btn-dark btn-block">登入拾柒</button>
                </form>
                <!-- 額外選項 -->
                <div class=" extra-option">
                    <a href="#"><span>忘記密碼？</span></a>
                    <div class="ask-for">
                        <p>還不是會員嗎?</p>
                        <a href="#" class="joinMember">立即加入會員</a>
                    </div>
                </div>
                <div class="social-login-btn d-flex justify-content-between align-items-center">
                    <!-- Facebook 登入按鈕 -->
                    <button class="btn btn-facebook btn-block">Facebook 登入</button>
                    <!-- Google 登入按鈕 -->
                    <button class="btn btn-google btn-block">Google 登入</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 搜尋彈窗 -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel"><i class="bi bi-search"></i> 搜尋商品</h5>
                <a href="#" class="btn-close close-style" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">
                <!-- 輸入框和搜尋按鈕 -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="輸入關鍵字">
                    <a href="#" class="btn btn-secondary">搜尋</a>
                </div>

                <h6 class="my-4">熱門分類</h6>
                <div class="d-flex flex-wrap ">
                    <a href="#" class="btn  hashtag-link">#花藝</a>
                    <a href="#" class="btn  hashtag-link">#盆花</a>
                    <a href="#" class="btn  hashtag-link">#開幕花禮</a>
                    <a href="#" class="btn  hashtag-link">#陶器</a>
                    <a href="#" class="btn  hashtag-link">#香氛</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="secondary-nav">
    <ul class="nav-list">
        <li><a href="productCategory.html" class="h6">商品總覽</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" id="brandDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">嚴選品牌</a>
            <ul class=" h6 dropdown-menu" aria-labelledby="brandDropdown">
                <li><a class="dropdown-item text-start mb-2" href="negaflower.html">negaflower</a></li>
                <li><a class="dropdown-item text-start mb-2" href="tao.html">陶之家</a></li>
                <li><a class="dropdown-item text-start mb-2" href="#">SOS香氛</a></li>
            </ul>
        </li>
        <li><a href="#" class="h6">最新消息</a></li>
        <li><a href="story.html" class="h6">關於拾柒</a></li>
        <li><a href="question.html" class="h6">Q&A</a></li>
    </ul>
</div>

