nav {
    width: 100%;
    z-index: 9999;
}

header {
    max-width: 100%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

/* .container{
  width: 100%;
  margin: 0 auto;
} */

/*彈出視窗按鈕*/

.modal-content {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
.modal-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-logo {
    max-width: 100%;
    margin: 20px 0;
}
.extra-option a{
    display: flex;
    width: 30%;
    text-align: left;
    background: blue;
}
.extra-option div a{
    display: flex;
}
.extra-option a:hover{
border-bottom: 1px solid #000;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    margin: 10px 0;
}

.btn-google {
    background-color: #db4a39;
    color: #fff;
}
.modal-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.modal-header .close {
    border: none; 
    outline: none;    
    background: none;
}

/* 左對齊樣式 */
.form-group label {
    text-align: left;
    display: block;
    font-weight: bold;
}

/*pc*/
@media (min-width:992px) {
    header {
        padding: 0 96px;
        margin-bottom: 1px;
    }

    .mobileLogo {
        display: none;
    }

    .mobileNav {
        display: none;
    }

    .mobileIcon {
        display: none;
    }

    .mobile-list-btn {
        display: none;
    }

    .menuBTN,
    .closeBTN {
        display: none;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
    }

    .navBAR .pcNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* width: 50%; */
        /* border: 1px solid black; */
    }

    .navBAR .pcNav li .navIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        margin-right: 24px;
    }

    .navBAR .pcNav li .logInBtn {
        width: 130px;
        display: block;
        font-weight: 700;
        font-size: 15px;
        line-height: 1.4;
        background: #F6F2E8;
        color: #484848;
        padding: 12px 32px;
        border-radius: 100px;
    }

    .navBAR .pcNav li a:hover {
        transition: all .6s;
        transform: translateY(5px);
        color: #4848484D;
    }

    .secondaryNav {
        max-width: 100%;
        margin: 0 auto;
        border: 1px solid #4848481A;

    }

    .secondaryNav .list {
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        /* border: 1px solid black; */

    }

    .list li a {
        display: block;
        color: #484848;
        font-weight: 700;
        text-align: center;
    }

    .secondaryNav .list li a:hover {
        color: #4848484D;
    }
}

@media (max-width:991px) {
    .secondaryNav {
        display: none;
    }

    .header .pcLogo {
        display: none;
    }

    .pcNav {
        display: none;
    }

    header {
        border-bottom: 1px solid #4848481A;
    }

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        padding: 16.5px 0;
    }

    .mobileIcon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuBTN {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 24px;
        margin-right: 16px;
    }


    .ortherModal{
        z-index: 9999;
    }

    .navBAR {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: -100%;
        background-color: #FFFFFF;
        z-index: 9998;
    }

    .mobileList {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16.5px 44px;
        padding-bottom: 16.5px;
    }

    .mobileList .closeBTN {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }

    .mobileNav {
        width: 88%;
        margin: 0 auto;
    }

    .navBAR .mobileNav-section li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 95%;
        height: 37px;
        padding: 24px 0;
    }

    .navBAR .mobileNav li:last-child {
        padding-bottom: 48px;
        border-bottom: 1px solid #4848481A;
    }

    .navBAR .mobileNav-section a {
        font-size: 15px;
        line-height: 1.4;
        font-weight: 700;
        color: #484848;
    }

    .navBAR .mobileNav-section a:hover,
    .navBAR .mobileNav-section a:active {
        color: #4848484D;
    }

    .mobile-list-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .mobile-list-btn a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 93%;
        text-align: center;
        border-radius: 100px;
        font-weight: 700;
        font-size: 15px;
        height: 1.4;
        color: #484848;
        background: #F6F2E8;
    }

    /* navBAR 滑入動畫 */
    .navBAR-RUN-IN {
        animation: slider-in 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        /*動畫結束後，保持在最後一個影格狀態*/
    }

    @keyframes slider-in {
        0% {
            top: -100%;
            left: 0;
            opacity: 0;
            /*透明度*/
        }

        100% {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
        }
    }

    /* navBAR 滑出動畫*/
    .navBAR-RUN-OUT {
        animation: slider-out 1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
        /*依據動畫的次數或播放方向，保持在第一個影格或最後一個影格狀態*/
        animation-delay: .3s;
        /*延遲n秒後，再播放動畫*/
    }

    @keyframes slider-out {
        0% {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            /*透明度*/
        }

        100% {
            left: 0;
            top: -100%;
            opacity: 0;
        }
    }
}