img{
    height: auto;
    max-width: 100%;
    vertical-align: middle/*基準線對齊*/;
}
/*字體字型*/
@font-face{
    font-family: 'gensen-b';
    src: url(/fonts/GenSenRounded2TW-B.otf);
}
@font-face{
    font-family: 'gensen-r';
    src: url(/fonts/GenSenRounded2TW-R.otf);
}
@font-face{
    font-family: 'chenyuluoyan';
    src: url(/fonts/ChenYuluoyan-Thin-Monospaced.ttf);
}
@font-face{
    font-family: 'AR Brush2 Ultra';
    src: url(/fonts/b287fa9818ecd1e48da5d579b5655e68.ttf);
}


a{
    text-decoration: none;
}
.h1{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'gensen-b';
}
.h2{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'gensen-b';
}
.h3{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'gensen-b';
}
.h4{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'gensen-b';
}
.h5{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'gensen-b';
}
.h6{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    font-family: 'gensen-b';
}
.title{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;
    font-family: 'gensen-b';
}
.subtitle{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700;
    font-family: 'gensen-b';
}
.button{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'gensen-r';
}
.placeholder{
    font-size: 15px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'gensen-r';
}
.body-1{
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'gensen-r';
}
.body-2{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'gensen-r';
}
.minumum{
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'gensen-r';
}
.branding-h1{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 100;
    font-family: 'chenyuluoyan';
}
.branding-h2{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 100;
    font-family: 'chenyuluoyan';
}
.branding-h3{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 100;
    font-family: 'chenyuluoyan';
}
.branding-h4{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 100;
    font-family: 'chenyuluoyan';
}
.branding-h5{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 100;
    font-family: 'chenyuluoyan';
}
.branding-h6{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 100;
    font-family: 'chenyuluoyan';
}

.font-family-gensen{
    font-family: 'gensen';
}
.font-family-chenyuluoyan{
    font-family: 'chenyuluoyan';
}
.font-family-arbrush2ultra{
    font-family: 'AR Brush2 Ultra';
}
/*顏色*/
.main-text{
    color: #484848;
}
.white{
    color: #ffffff;
}



.d-flex{
    display: flex;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-row{
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-around{
    justify-content: space-around;
}

.text-align-center{
    text-align: center;
}
.text-align-start{
    text-align: start;
}
.align-items-center{
    align-items: center;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}


.row-gap-24{
    row-gap: 24px;
}


.category-container{
    max-width: 1296px;
    margin: 0 auto;
    margin-top: 80px;
}

.leftbar-title, .leftbar-list{
    padding-top: 16px;
    padding-bottom: 16px;
}
.category-leftbar ul{
    gap: 16px;
}
.category-leftbar-btn{
    background-color: rgba(246, 242, 232, 1);
    font-size: 15px;
    line-height: 1.4;
    font-weight: 700;
    border-radius: 48;
}

.category-top-bar-icon{
    gap: 32px;
}
.category-top-bar{
    margin-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
}
