<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Negaflower品牌館</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <%- include('./layout/header'); -%>
            <div class="banner">
                <img class="main-banner" src="/assets/images/negaflower/store01banner.png" alt="negaflower十月新品上市">
                <img class="main-banner-m" src="/assets/images/negaflower/store01banner_m.png" alt="negaflower十月新品上市">
            </div>

            <div class="brand-name">
                <div class="container text-align-center p12">
                    <img class="brand-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                    <h1 class="brand-title branding-h3 main-text">Nega Flower 品牌館</h1>
                    <p class="brand-story branding-h4 main-text">Nega Flower
                        致力於將浪漫與美好融入日常生活。<br>無論是慶祝特別時刻，還是平凡日子的點綴，<br>我們相信花卉的美麗能讓生活更加溫馨與動人。</p>
                    <p class="brand-story-m branding-h4 main-text">Nega Flower
                        致力於將浪漫與美好融入日常生活。無論是慶祝特別時刻，還是平凡日子的點綴，我們相信花卉的美麗能讓生活更加溫馨與動人。</p>
                </div>
            </div>

            <!-- 桌面版輪播 -->
    <div id="desktopCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#desktopCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#desktopCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#desktopCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/negaflower/negaflower_ad01.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/negaflower/negaflower_ad02.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/negaflower/negaflower_ad03.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#desktopCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#desktopCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- 手機版輪播 -->
    <div id="mobileCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#mobileCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#mobileCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#mobileCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/assets/images/negaflower/negaflower_ad01_m.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/negaflower/negaflower_ad02_m.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/assets/images/negaflower/negaflower_ad03_m.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mobileCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobileCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

            <div class="product-category p-12">
                <div class="container text-align-center">
                    <h2 class="product-category-title h4">Nega Flower產品</h2>
                    <hr class="product-category-title-hr">
                    <div class="product-category-img d-flex justify-content-center m12">
                        <div class="product-categary-l d-flex align-items-center justify-content-center">
                            <img src="/assets/images/negaflower/negaflower_花禮設計.png" alt="花禮設計">
                            <div class="product-category-l-hover"></div>
                            <span class="h4 white">花禮設計</span>
                        </div>
                        <div class="product-category-r d-flex flex-direction-column">
                            <div class="product-category-t d-flex align-items-center justify-content-center">
                                <img src="/assets/images/negaflower/negaflower_鮮花花束.png" alt="鮮花花束">
                                <div class="product-category-t-hover"></div>
                                <span class="h4 white">鮮花花束</span>
                            </div>
                            <div class="product-category-b d-flex align-items-center justify-content-center">
                                <img src="/assets/images/negaflower/negaflower_婚禮花藝.png" alt="婚禮花藝">
                                <div class="product-category-b-hover"></div>
                                <span class="h4 white">婚禮花藝</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            </div>

            <div class="hot-product">
                <div class="hot-product-container">
                    <h2 class="hot-product-title h4">熱銷推薦</h2>
                    <hr class="hot-product-title-hr">
                    <div class="hot-product-box d-flex flex-wrap-wrap">

                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/可可棕配色零食花束.jpg"
                                    alt="可可棕配色零食花束">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex">   
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">零食花束｜可可棕</h3>
                                        <span class="product-card-price title main-text">NT$399</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">零食花束｜可可棕</h3>
                                    <span class="product-card-price title main-text">NT$399</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/開幕花禮｜奶油燕麥盆花.jpeg"
                                    alt="開幕花禮｜奶油燕麥盆花">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex"> 
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">開幕花禮｜奶油燕麥盆花</h3>
                                        <span class="product-card-price title main-text">NT$1680</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">開幕花禮｜奶油燕麥盆花</h3>
                                    <span class="product-card-price title main-text">NT$1680</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/美拉德永生花束.jpg" alt="美拉德永生花束">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex"> 
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">美拉德永生花束</h3>
                                        <span class="product-card-price title main-text">NT$1500</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">美拉德永生花束</h3>
                                    <span class="product-card-price title main-text">NT$1500</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/鈔票花束｜奶茶色.jpg"
                                    alt="鈔票花束｜奶茶色">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex"> 
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">鈔票花束｜奶茶色</h3>
                                        <span class="product-card-price title main-text">NT$4500</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">鈔票花束｜奶茶色</h3>
                                    <span class="product-card-price title main-text">NT$4500</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/新娘捧花｜永生海芋／玫瑰捧花.jpg"
                                    alt="新娘捧花｜永生海芋／玫瑰捧花">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex"> 
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">新娘捧花｜永生海芋／玫...</h3>
                                        <span class="product-card-price title main-text">NT$1600</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">新娘捧花｜永生海芋...</h3>
                                    <span class="product-card-price title main-text">NT$1600</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/婚禮胸花｜氣質香檳粉.jpg"
                                    alt="婚禮胸花｜氣質香檳粉">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex"> 
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">婚禮胸花｜氣質香檳粉</h3>
                                        <span class="product-card-price title main-text">NT$350</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">婚禮胸花｜氣質香檳粉</h3>
                                    <span class="product-card-price title main-text">NT$350</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/熊熊抱抱桶永生玫瑰花束.jpg"
                                    alt="熊熊抱抱桶永生玫瑰花束">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex"> 
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">熊熊抱抱桶永生玫瑰花束</h3>
                                        <span class="product-card-price title main-text">NT$1899</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">熊熊抱抱桶永生玫瑰花束</h3>
                                    <span class="product-card-price title main-text">NT$1899</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-card w25">
                            <div class="product-card-top">
                                <img class="product-card-img" src="/assets/images/negaflower/開幕花禮｜乾燥花名片座.jpg"
                                    alt="開幕花禮｜乾燥花名片座">
                                <div class="product-card-img-hover"></div>
                                <img class="heart product-card-img-heart" src="/assets/images/heart.png" alt="產品收藏按鈕">
                            </div>
                            <div class="product-card-content">
                                <div class="product-card-content-container d-flex"> 
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg"
                                        alt="negaflowerlogo">
                                    <div class="product-card-text text-align-start">
                                        <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                        <h3 class="product-card-name title main-text">開幕花禮｜乾燥花名片座</h3>
                                        <span class="product-card-price title main-text">NT$560</span>
                                    </div>
                                </div>
                            </div>
                            <div class="product-card-content-m">
                                <div class="product-card-brandname d-flex flex-direction-row justify-content-center align-items-center">
                                    <img class="product-card-logo" src="/assets/images/negaflower/logo/nega.jpg" alt="negaflowerlogo">
                                    <h4 class="product-card-brand body-2 main-text">Nega Flower</h4>
                                </div>
                                <div class="product-card-text text-align-start">
                                    <h3 class="product-card-name title main-text">開幕花禮｜乾燥花名片座</h3>
                                    <span class="product-card-price title main-text">NT$560</span>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
                <%- include('./layout/footer'); -%>
                
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
                <script>
                    // 選取所有具有 'heart' class 的元素
                    const hearts = document.querySelectorAll('.heart');

                    // 遍歷每個 heart 元素，並添加點擊事件監聽器
                    hearts.forEach(function(heart) {
                        heart.addEventListener('click', function() {
                            // 切換 'active' class
                            heart.classList.toggle('active');
                        });
                    });
                </script>  
                <script type="module" src="../main.js"></script>  
            
    </body>

</html>