<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>常見問題Q&A</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="container">
            <h2 class="text-center">Q&A</h2>
            <div class="accordion" id="qaAccordion">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                        <a class="accordion-button" data-bs-toggle="collapse" href="#collapse1" role="button"
                            aria-controls="collapse1">
                            如何選擇適合我的商品？
                        </a>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                        data-bs-parent="#qaAccordion">
                        <div class="accordion-body">
                            我們的選品團隊精心挑選了各類型的商品，並在每個產品頁面提供詳細的描述與建議搭配，幫助您找到適合需求的商品。
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <a class="accordion-button collapsed" data-bs-toggle="collapse" href="#collapse2" role="button"
                            aria-controls="collapse2">
                            商品都是正品嗎？
                        </a>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                        data-bs-parent="#qaAccordion">
                        <div class="accordion-body">
                            我們保證所有商品皆為品牌正品，直接來自官方授權的供應商。每一件商品在上架前都經過嚴格檢驗，確保品質無虞。
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <a class="accordion-button collapsed" data-bs-toggle="collapse" href="#collapse3" role="button"
                            aria-controls="collapse3">
                            我如何確定商品的尺寸或規格？
                        </a>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                        data-bs-parent="#qaAccordion">
                        <div class="accordion-body">
                            每個商品的尺寸或規格資訊會詳列在商品頁面，並附有尺寸表或參考圖。
                        </div>
                    </div>
                </div>


                <%- include('./layout/footer'); -%>

                    <script type="module" src="../main.js"></script>
</body>

</html>