<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>購物車 - 購物清單</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container">

            <div class="shopping_status">
                <div class="progress-stacked rounded-pill">
                    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="15"
                        aria-valuemin="0" aria-valuemax="100" style="width: 33.33%">
                        <div class="progress-bar stepbar1 fs-6">選擇結帳商品</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100" style="width: 33.33%">
                        <div class="progress-bar stepbar2 fs-6">填寫地址與付款方式</div>
                    </div>
                    <div class="progress" role="progressbar" aria-label="Segment three" aria-valuenow="20"
                        aria-valuemin="0" aria-valuemax="100" style="width: 33.33%">
                        <div class="progress-bar stepbar3 fs-6">訂單成立</div>
                    </div>
                </div>
            </div>

            <div class="cart_content d-flex flex-row-reverse justify-content-between margin-bottom-1">

                <div class="cartform_style total_price col-3">
                    <div class="total_price_title">
                        <div class="product_total d-flex justify-content-between mb-2">
                            <div class="col-5 d-flex justify-content-between align-items-center">
                                <p>共</p>
                                <h6>1</h6>
                                <p>項商品</p>
                            </div>
                            <h6 class="px-1">,</h6>
                            <div class="col-5 d-flex justify-content-between align-items-center">
                                <p>數量</p>
                                <h6>1</h6>
                                <p>個</p>
                            </div>
                        </div>
                        <div class="pricetotal d-flex gap-2 justify-content-end">
                            <h6>小計</h6>
                            <div class="d-flex gap-1">
                                <h6>NT$</h6>
                                <h6>1,680</h6>
                            </div>
                        </div>
                    </div>
                    <div class="total_price_footer d-flex flex-column gap-2 align-items-center">
                        <a class="btn rounded-pill d-flex justify-content-center gap-1" href="#" role="button" data-toggle="modal" data-target="#loginModal">
                            <p>前往結帳</p>
                            <img src="../assets/images/icons/chevron-right.png" alt="chevron-left" style="width: 12px;">
                        </a>
                        <a class="btn rounded-pill d-flex justify-content-center gap-1" href="#" role="button">
                            <img src="../assets/images/icons/chevron-left.png" alt="chevron-left" style="width: 12px;">
                            <p>返回購物</p>
                        </a>
                    </div>
                </div>

                <div class="cartform_style product_list col-7">
                    <div class="product_list_title p-2">
                        <div class="form-check d-flex align-items-center gap-2">
                            <input class="form-check-input" type="checkbox" value="" id="allProduct">
                            <label class="form-check-label" for="allProduct">全部商品</label>
                        </div>
                    </div>

                    <div class="brand_product">

                        <div class="card mt-3 m-3 border-2">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="nega_flower">
                                    <label class="form-check-label" for="nega_flower">Nega Flower</label>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <input class="form-check-input" type="checkbox" value="" id="nega_flower">
                                    <img src="../assets/images/negaflower/開幕花禮｜奶油燕麥盆花.jpeg" alt="開幕花禮｜奶油燕麥盆花"
                                        style="width: 20%;">
                                    <p class="">開幕花禮 | 奶油燕麥盆花</p>
                                    <div class="">
                                        <select id="inputState" class="form-select">
                                            <option selected>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <p>NT$ 1,680</p>
                                    <a href="#" class="btn border border-1 delbtn">刪除</a>
                                </div>
                            </div>

                            <div class="card-footer border-bottom border-2">
                                <button class="btn d-flex align-items-center gap-1 justify-content-center w-100"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#brand_1_plusProduct"
                                    aria-expanded="false" aria-controls="brand_1_plusProduct">
                                    <img src="../assets/images/icons/plus.png" alt="plus" style="width: 24px;">
                                    <h6>可加購商品</h6>
                                </button>
                            </div>

                            <div class="collapse" id="brand_1_plusProduct">
                                <div class="shopcart_plusProduct d-flex gap-3 flex-wrap m-3">

                                    <div class="card border-2 px-0 rounded-bottom-0">
                                        <div class="position-relative">
                                            <img src="../assets/images/透明提袋.png" class="card-img-top" alt="可可棕配色零食花束">
                                            <button class="plus-btn position-absolute bottom-0 end-0 border-1 rounded-circle p-0">
                                                <img class="plus-icon px-1 py-1" src="../assets/images/icons/plus.png" alt="plus">
                                            </button>
                                        </div>
                                        <div class="card-body d-flex gap-3">
                                            <img src="../assets/images/negaflower/logo/nega.jpg" alt="nega"
                                                style="width: 61px; height: 61px;">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="fs-9 mb-2">Nega Flower</p>
                                                <p class="fw-bold text-truncate">透明提袋50cm</p>
                                                <p class="fw-bold mt-1">NT$ 30</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-2 px-0 rounded-bottom-0">
                                        <div class="position-relative">
                                            <img src="../assets/images/透明提袋.png" class="card-img-top" alt="可可棕配色零食花束">
                                            <button class="plus-btn position-absolute bottom-0 end-0 border-1 rounded-circle p-0">
                                                <img class="plus-icon px-1 py-1" src="../assets/images/icons/plus.png" alt="plus">
                                            </button>
                                        </div>
                                        <div class="card-body d-flex gap-3">
                                            <img src="../assets/images/negaflower/logo/nega.jpg" alt="nega"
                                                style="width: 61px; height: 61px;">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="fs-9 mb-2">Nega Flower</p>
                                                <p class="fw-bold text-truncate">透明提袋100cm</p>
                                                <p class="fw-bold mt-1">NT$ 40</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-2 px-0 rounded-bottom-0">
                                        <div class="position-relative">
                                            <img src="../assets/images/透明提袋.png" class="card-img-top" alt="可可棕配色零食花束">
                                            <button class="plus-btn position-absolute bottom-0 end-0 border-1 rounded-circle p-0">
                                                <img class="plus-icon px-1 py-1" src="../assets/images/icons/plus.png" alt="plus">
                                            </button>
                                        </div>
                                        <div class="card-body d-flex gap-3">
                                            <img src="../assets/images/negaflower/logo/nega.jpg" alt="nega"
                                                style="width: 61px; height: 61px;">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="fs-9 mb-2">Nega Flower</p>
                                                <p class="fw-bold text-truncate">透明提袋150cm</p>
                                                <p class="fw-bold mt-1">NT$ 50</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-2 px-0 rounded-bottom-0">
                                        <div class="position-relative">
                                            <img src="../assets/images/剪刀.png" class="card-img-top" alt="剪刀">
                                            <button class="plus-btn position-absolute bottom-0 end-0 border-1 rounded-circle p-0">
                                                <img class="plus-icon px-1 py-1" src="../assets/images/icons/plus.png" alt="plus">
                                            </button>
                                        </div>
                                        <div class="card-body d-flex gap-3">
                                            <img src="../assets/images/negaflower/logo/nega.jpg" alt="nega"
                                                style="width: 61px; height: 61px;">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="fs-9 mb-2">Nega Flower</p>
                                                <p class="fw-bold text-truncate">剪刀</p>
                                                <p class="fw-bold mt-1">NT$ 250</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-2 px-0 rounded-bottom-0">
                                        <div class="position-relative">
                                            <img src="../assets/images/噴罐.png" class="card-img-top" alt="噴罐">
                                            <button class="plus-btn position-absolute bottom-0 end-0 border-1 rounded-circle p-0">
                                                <img class="plus-icon px-1 py-1" src="../assets/images/icons/plus.png" alt="plus">
                                            </button>
                                        </div>
                                        <div class="card-body d-flex gap-3">
                                            <img src="../assets/images/negaflower/logo/nega.jpg" alt="nega"
                                                style="width: 61px; height: 61px;">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="fs-9 mb-2">Nega Flower</p>
                                                <p class="fw-bold text-truncate">噴罐</p>
                                                <p class="fw-bold mt-1">NT$ 80</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card border-2 px-0 rounded-bottom-0">
                                        <div class="position-relative">
                                            <img src="../assets/images/卡片.png" class="card-img-top" alt="卡片">
                                            <button class="plus-btn position-absolute bottom-0 end-0 border-1 rounded-circle p-0">
                                                <img class="plus-icon px-1 py-1" src="../assets/images/icons/plus.png" alt="plus">
                                            </button>
                                        </div>
                                        <div class="card-body d-flex gap-3">
                                            <img src="../assets/images/negaflower/logo/nega.jpg" alt="nega"
                                                style="width: 61px; height: 61px;">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="fs-9 mb-2">Nega Flower</p>
                                                <p class="fw-bold text-truncate">卡片</p>
                                                <p class="fw-bold mt-1">NT$ 50</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- <div class="card-footer border-top border-bottom border-2">
                                <button class="btn d-flex justify-content-center w-100" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    <h6>選擇收件地與取貨方式</h6>
                                </button>
                            </div>

                            <div class="collapse" id="collapseExample">

                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        選擇收件地
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">台灣地區</a></li>
                                        <li><a class="dropdown-item" href="#">外島地區</a></li>
                                        <li><a class="dropdown-item" href="#">海外地區</a></li>
                                    </ul>
                                </div>
                                
                                <div class="dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        選擇取貨方式
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">超商取貨</a></li>
                                        <li><a class="dropdown-item" href="#">超商取貨</a></li>
                                        <li><a class="dropdown-item" href="#">宅配到府</a></li>
                                    </ul>
                                </div>

                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>